body {
    background: var(--secondaryColor);
    color: var(--textColor);
    background-image: url(../image/bg_main.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
}

#userMoney {
    height: 40px;
    width: 90px;
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    background-color: black;
    color: white;
    font-family: "Cursed Timer ULiL Font";
    font-size: 18px;
    text-align: right;
    line-height: 30px;
}

.title {
    margin: 120px auto 20px auto;
}

hr {
    width: 50px;
    /* border: 2px solid gray; */
}

/* Tab */

#shopBox {
    margin: auto;
}

.tab {
    width: 960px;
    display: flex;
    align-items: center;
    margin: 40px auto 40px auto;
    overflow: hidden;
    border: 1px solid #840011;
    border-radius: 8px;
    background-color: var(--secondaryDark);
}

.tab button {
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: inherit;
    color: var(--textColor);
    font-size: 20px;
    cursor: pointer;
}

.tab button:hover {
    background-color: var(--primaryColor);
}

.tab button.active {
    background-color: var(--primaryDark);
    color: var(--textColor);
}

.tab>p {
    height: 20px;
    border: 1px solid #840011;
}

.tabcontent {
    width: 960px;
    height: 800px;
    display: none;
    margin: 0 auto;
    padding: 30px 20px;
    border: 1px solid #840011;
    border-radius: 5px;
    background-color: var(--secondaryDark);
}

/* shop分頁 */

.productBox {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 40px;
    list-style: none;
}

.tabcontent p {
    font-size: 16px;
}

/* Card box */

.Card {
    position: relative;
    height: 180px;
    width: 220px;
    margin: 10px;
    border: 2px solid var(--primaryDark);
    background-color: var(--primaryColor);
    box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.9);
}

.Card>p {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: linear-gradient(rgba(60, 60, 60, 0.7), rgba(60, 60, 60, 0.7));
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

/* 背景變黑 */

#backBlack {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    z-index: 10000;
}

/* #productDetail{
    
} */